$black: #000000;
$jet: #111214;
$gray: #777777;
$silver: #bababa;
$white: #D8D8D8;
$blue: #17a2b8;

body {
  background-color: $black;
}

#calc {
  background-color: $jet;
  box-shadow: 1px 1px 8px $gray;
  border-radius: 7px;
  padding: 0%;
}

#head {
  text: {
    align: center;
    decoration: underline;
    shadow: 1px 1px 5px $jet;
  }
  font: {
    weight: bold;
    family: helvetica;
    size: 20px;
  }
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: inset 1px 1px 8px $jet;
  color: $white;
  background-color: $blue;
  padding: 1.5%;
}

.form-head {
  font: {
    size: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  color: $white;
}

#output {
  margin-top: 100px;
  margin-bottom: 30px;
}

.outputs {
  text-align: center;
}

form{
    padding-left: 20px;
    padding-right: 20px;
}
