$black: #000000;
$jet: #111214;
$gray: #777777;
$silver: #bababa;
$white: #f4f4f4;
$blue: #007bff;

body {
  background-color: $black;
}

#calc {
  background-color: $jet;
  box-shadow: 1px 1px 8px $gray;
  border-radius: 7px;
  padding: 0%;
}

#head {
  text: {
    align: center;
    decoration: underline;
  }
  font: {
    weight: bold;
    family: helvetica;
    size: 20px;
  }
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  //box-shadow: inset 1px 1px 8px $jet;
  color: $white;
  background-color: $blue;
}
